body{
#titulo{
    color: blue;
    text-align: center;
}

.Boa{
    color: red;
    font-size: 20px;
}

.Faz{
    color: green;
    font-size: 20px;
}

.Isso{
    color: purple;
    font-size: 20px;
}
}